# default
* text eol=auto

# git
.gitattributes text eol=lf
.gitignore text eol=lf

# sources
*.java text eol=lf

# resources
*.md text eol=lf
*.yml text eol=lf

# scripts
*.bat text eol=crlf
*.gradle text eol=lf
*.properties text eol=lf

# binaries
*.png binary
*.jar binary
